/* Try different box model properties below */
.site-header >p{
color: white;
margin-bottom: -8px;
}
.site-footer >p{
    font-size:12px;
    text-align:center;
}
.message__author>p:last-child{
    box-shadow: 4px 4px 0 #dba944;
}